export const {{componentName}} = () => {
  return (
    <Bundle load={ load{{componentName}} }>
      { {{componentName}} => { 
        return (
          <div>
            {
              App
              ? <{{componentName}} children={children} />
              : <p>Loading</p>
            }
          </div>
        )
      } }
    </Bundle>
  )
}

/* BUNDLE GENERATOR */